
.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

body {/* Styling for the body*/
  background-color: rgb(244, 235, 220); 
  min-height: 100vh; 
}

.title { /* Styling for the title (App.js)*/
  font-size: larger;
  font-weight: bolder;
  color: rgb(57, 54, 54);
   font-style: oblique;
   text-decoration: underline;
   text-decoration-color: rgb(4, 4, 4);
   text-decoration-thickness: 5px;
}

.balance { /* Styling for the Balance.js*/
  margin-top: 3cm;
  margin-bottom: 20px;
}

.transaction { /* Styling for the Transaction.js*/
  margin-bottom: 20px;
}

button {
  margin-left: 10px;
}
